$color-1:#0E1731;
$color-2:#fff;
$color-3:#F7F8FC;
$font-1:18px;
$font-2:24px;
$font-3:20px;
$font-4:48px;
// margin and padding loops
// my means margin horizontal
// mx means margin vertical
// py means padding horizontal
// pv means padding vertical
// p means padding allaround
// m means margin allaround
$spaceamount:(1, 2, 3, 4, 5);
@each $space in $spaceamount {
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    .p-#{$space} {
        padding: #{$space}rem;
    }
    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}