.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding: 0 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.mx-4 {
  margin: 0 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding: 0 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.px-5 {
  padding: 0 5rem;
}

.py-5 {
  padding: 5rem 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  background-color: #F7F8FC;
  line-height: 1.2;
  font-family: 'Nunito Sans', sans-serif;
  max-width: 2000px;
}

.header-home {
  background-color: #0E1731;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.header-home ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-home ul img {
  display: inline-block;
  padding: 10px 20px;
}

.showcase {
  background: yellow;
}

.showcase-inner {
  background: #F7F8FC;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase-inner ul {
  display: flex;
  align-items: center;
}

.showcase-inner ul li a {
  color: #0E1731;
}

.nav {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav:hover .blue {
  display: block;
  background-color: #0E1731;
}

.blue {
  background: #F7F8FC;
  width: 25px;
  height: 5px;
  border-radius: 5px;
}

.section-home {
  background-color: #F7F8FC;
  display: flex;
  overflow: hidden;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.main-content {
  flex-grow: 2;
  margin-right: 2rem;
}

.active-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-users {
  background: #0E1731;
  min-height: 200px;
  min-width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-right: 15px;
}

.active-users-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.active-users-inner h1 {
  color: #F9F9FA;
}

.bigger-paragraph {
  font-size: 48px;
  color: #fff;
  font-weight: bolder;
}

.bigger-paragraph-2 {
  font-size: 48px;
  color: #0E1731;
  font-weight: bolder;
}

.view-referrals {
  text-transform: capitalize;
  display: flex;
  margin-top: 18%;
  color: #B7B9C1;
  font-size: 18px;
  align-items: center;
}

.view-referrals i {
  padding: 0px 40px;
}

.page-view {
  background: #fff;
  flex-grow: 2;
  padding: 20px;
  min-height: 200px;
  border-radius: 10px;
}

.page-view h1 {
  color: #0E1731;
}

.view-referral {
  text-transform: capitalize;
  display: flex;
  margin-top: 9%;
  color: #5F6576;
  font-size: 18px;
  align-items: center;
}

.view-referral i {
  padding: 0px 40px;
}

.u-s-b-s {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 35px;
}

.usbs-container {
  background: #fff;
  /* max-width: 200px; */
  /* min-height: 130px; */
  max-width: 350px;
  padding: 10px 20px;
  border-radius: 10px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-p {
  font-size: 32px;
  font-weight: bolder;
  color: #0F1832;
}

.users-mark {
  display: flex;
  font-size: 14px;
}

.fa-arrow {
  padding: 0px 5px;
}

.usbs-p {
  font-size: 20px;
  color: #3E465A;
}

.notification-section {
  display: flex;
  background-color: #fff;
  min-height: 100px;
  padding: 20px;
  border-radius: 10px;
}

.notification-section img {
  padding-right: 10px;
}

.notification-section a {
  display: inline-block;
  background: #F7F8FF;
  width: 182px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  border-radius: 10px;
  border: 2px #DEE3FF solid;
  color: #798AE9;
}

.alert-notification {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-notification h1 {
  font-size: 30px;
  color: #0F1832;
}

.alert-notification p {
  font-size: 18px;
  color: #3E465A;
}

.devices-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.devices-data {
  background: #fff;
  flex: 1;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
}

.devices-data h1 {
  margin: 20px 0px;
  color: #0E1731;
}

.devices-data nav {
  display: flex;
  background: #F7F8FC;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 10px;
}

.devices-data nav li {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
}

.devices-data nav li a {
  font-size: 15px;
  color: #0E1731;
}

.devices-data li:hover {
  background: #fff;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 11px 24px -7px rgba(0, 0, 0, 0.31);
}

.my-1 p {
  color: #0E1731;
}

.bar {
  height: 5px;
  background: #0E1731;
}

.bar-1 {
  width: 280px;
}

.bar-2 {
  width: 100px;
}

.bar-3 {
  width: 200px;
}

.devices-type {
  background-color: #fff;
  border-radius: 10px;
  flex: 1;
  padding: 20px 0px;
}

.devices-type h1 {
  margin: 20px 0px;
  color: #0E1731;
  padding: 0px 20px;
}

.devices-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  margin: 0px 5px;
}

.devices-links a {
  color: #0E1731;
}

.devices-links:hover {
  background-color: #EDEFF7;
  border-radius: 10px;
  margin: 0px 5px;
}

.side-bar {
  background-color: #fff;
  padding: 20px 0px;
  min-width: 350px;
  border-radius: 10px;
  max-height: 890px;
}

.top-pages-visit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.top-pages {
  margin-left: 30px;
}

.list-of-url {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 0px 5px;
}

.list-of-url a {
  max-width: 200px;
  color: #0E1731;
}

.list-of-url:hover {
  margin: 0px 5px;
  background: #EDEFF7;
  border-radius: 5px;
  padding: 10px 15px;
}

.stats-table {
  background-color: #6176E5;
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.more-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}

.more-stats h1 {
  color: #C8CFF6;
}

.more-stats .fa {
  padding: 5px 20px;
  background: #5168E2;
  font-size: 50px;
  color: #C8CFF6;
}

.more-stats-1 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.more-stats-1 h2 {
  font-size: 17px;
  font-weight: 500;
  color: #C8CFF6;
}

.more-stats-1 p {
  font-size: 32px;
  font-weight: bolder;
  color: #fff;
}

.more-stats-2 {
  margin-bottom: 15px;
}

.more-stats-2 h2 {
  font-size: 17px;
  font-weight: 500;
  color: #C8CFF6;
}

.more-stats-2 p {
  font-size: 32px;
  font-weight: bolder;
  color: #fff;
}

@media (max-width: 768px) {
  .showcase-inner {
    display: block;
  }
  .nav {
    padding: 10px;
  }
  .section-home {
    flex-wrap: wrap;
    padding: 10px;
  }
  .main-content {
    overflow: hidden;
    margin-right: 0px;
  }
  .active-page {
    display: block;
  }
  .active-users {
    margin-bottom: 35px;
    margin-right: 0px;
  }
  .u-s-b-s {
    grid-template-columns: 1fr 1fr;
  }
  .usbs-container {
    margin: 10px 0px;
    width: 100%;
  }
  .alert-notification {
    display: block;
  }
  .notification-section a {
    margin-top: 10px;
  }
  .devices-tab {
    flex-wrap: wrap;
  }
  .devices-data {
    margin: 10px 0px;
  }
  .devices-type {
    margin: 10px 0px;
  }
  .side-bar {
    padding-right: 10px;
  }
}

@media (max-width: 600px) {
  .devices-tab {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .active-page {
    padding-right: 0px;
  }
  .u-s-b-s {
    grid-template-columns: 1fr;
  }
}

.usbs-container {
  max-width: 355px;
}
/*# sourceMappingURL=index.css.map */